<h1>Alteração de E-mail</h1>

<p>Olá, estamos aqui para lhe ajudar com a alteração do seu email ;)</p>

<a href={{ link }}><button>Alterar e-mail</button></a>

<p>Se o botão não funcionar, copie e cole o endereço abaixo no seu navegador.</p>

<p><strong>Este link expira em 2 horas, ok?</strong></p>

<a href={{ link }}>{{ link }}</a>