<h1>Seja bem vindo!</h1>

<p>Olá {{ name }}, seja bem vindo ao nosso site!</p>

<p>Uma conta para o email: <strong>{{ email }}</strong> foi criada com sucesso! Agora é só colocar seus produtos no carrinho e receber o mais rápido possível na sua casa!</p>

