<h1>Recuperação de senha</h1>

<p>Olá, você está recebendo está mensagem pois houve uma solicitação de reset de senha para o email <strong>{{ email }}</strong>.</p>
<p>Se você não foi o autor desta requisiçãoo, seria bom trocar para garantir.</p>
<p>Utilize o token <strong> {{ token }} </strong>, ou clique no link abaixo.</p>

<a href={{ link }}>Recuperar senha</a>
